.path-mod-tiddlywiki .tiddlywikicontent {
    text-align: center;
}

.path-mod-tiddlywiki .tiddlywikidetails {
    font-size: 0.8em;
    color: #555;
}

.tiddlywikilinkdetails {
    font-size: 0.8em;
    color: #555;
}
